button#pomodoro {
    width: 400px;
    height: 40px;
    background: #81b71a;
    color: #fff;
    position: relative;
    right: -20px;
    margin-top: 10px;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    font-size: 20px;
    font-weight: 600;
    font-display: 30px;
    align-items: center;
    
}

button#break {
    width: 400px;
    height: 40px;
    background: #81b71a;
    color: #fff;
    position: relative;
    right: -120px;
    margin-top: 10px;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    font-size: 20px;
    font-weight: 600;
    font-display: 30px;
    align-items: center;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #333;
}